html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: Meiryo;
    background-color: #F0F0F0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*, *::before,*::after{
  box-sizing: border-box;
}

header{
  display: flex;
}
header h1{
  margin: 20px 50px;
  font-size: 36px;
  letter-spacing: 8px;
  font-weight: 500;
}
nav ul{
  display: flex;
  margin-top: 35px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  padding-right: 20px;
}
nav ul li a:hover{
  text-decoration: underline;
}
.key-visual img{
    width: 100%;
    object-fit: cover;
    height: 600px;
}
.heading{
  font-size: 36px;
  letter-spacing: 8px;
  font-weight: 500;
  margin-bottom: 10px;
}
#about-wrapper{
  padding-top: 180px;
  padding-bottom: 120px;
  margin: 0 80px;
  display: flex;
}
#about-wrapper img{
  margin-top: 65px;
  margin-right: 40px;
  width: 53%;
  height: 300px;
}
.about p {
  padding-bottom: 40px;
  line-height: 1.5;
}
#staff-wrapper{
  margin: 0 80px;
  padding-bottom: 150px;
}
.container{
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.staff{
   text-align: center;
   width: 32%;
   margin-left: 30px;
}
.staff:first-of-type{
  margin-left: 0;
}
.staff img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 35px;
}
.staff .first {
  height: 300px;
  width: 100%;
}
#menu-wrapper{
  margin: 0 80px;
  padding-bottom: 150px;
}
.first-menu,.second-menu{
  display: flex;
  justify-content: space-between;
}
.menu{
  width: 30%;
  margin-top: 50px;
}
.menu img{
  width: 100%;
  height: 240px;
  margin-top: 15px;
  object-fit: cover;
}
#company-wrapper{
  margin: 0 80px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
#company-wrapper img{
  width: 38%;
  height: 300px;
  margin-top: 50px;
}
.company{
  background-color: white;
  padding: 80px 90px 80px 20px;
  line-height: 1.5;
}